<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add new user</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<body>

<div class="container">

    <br><br>

    <div class="row">
        <div class="col-md-4">
            <h3>Edit User</h3>
<body>

<form action="#" th:action="@{/user-update}" method="post" th:object="${user}" >

    <div class="form-group">
    <label for="id">ID</label>
    <input class="form-control" readonly type="number" th:field="*{id}" id="id" placeholder="ID">

    <label for="firstName">First name</label>
    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">

    <label for="lastName">Last name</label>
    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">

    <label for="password">Password</label>
    <input class="form-control" type="text" th:field="*{password}" id="password" placeholder="Password">

        <div class="form-group">
            <label class="control-label" for="role">Role</label>
            <select class="form-control" th:field="*{roles}" id="role">
                <option th:each="role : ${user.getRoles()}" th:value="${role.getId()}" th:text="${role.getName()}"></option>
                <option value="" >Select a role</option>
                <option value="2">USER</option>
                <option value="1">ADMIN</option>
            </select>
        </div>

        <br>
        <br>

        <div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>

        <script src="assets/js/scripts.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>